body{
    background-image:url("../img/grade-back.jpg")   
}

form{
    margin: 0px auto;
    width: 40%;
    padding: 2em;
    background-color: rgb(247, 247, 162);
}

li{
    margin-bottom: 24px;
    font-family: system-ui;
    font-weight: bold;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

img#profile-pic{
    height: 80%;
    width: 100%;
}
.d-flex{
    display: flex;
}
#pic-flex{
    width: 50%;
}
#labs{
    margin-left: 50px;
}
#validator{
    float: right;
}
.user-name{
    text-align: center;
}
