form{
    margin: 0 auto;
    width: 600px;
    padding: 1em;
}

body{
    background-image: url("../resources/img/signup-background.svg");
}
.red-font-text{
    color: red;
}

fieldset{
    background-color: lightgray;
}

label{
    font-weight: bolder;
    width: 35%;
}
label#fav-os{
    width: 200px;
}
#submit-button{
    font-weight: bolder;
    background-color: rgb(250, 211, 218);
}

legend{
    border: 2px solid rgb(37, 37, 37);
    background-color: whitesmoke;
}
.d-flex{
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
}
